

:root{
    --PrimaryColor:hsl(94,59%,35%);
    --HoverColor:#bdf094;
    --paleGreen:hsl(96,75%,89%);
    --textColor: red;
}

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat',sans-serif;
    transition: 3s,ease;
}

body{
    background:none;
}

html{
    font-size: 90%;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.icon{
    font-size: var(--h2FontSize);
}

img{
    width:100%;
}

.flex{
  display: flex;
  align-items: center;
}

.grid{
    display: grid;
    align-items: center;
    gap: 1.5rem;
}
.btn{
    border:none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 4px var(violet);
    padding: .8rem 1rem;

    color: var(--textColor);
}

.btn .icon{
    margin-left: 5rem;
}

.btn:hover{
    background: var(--paleGreen);
    color: var(PrimaryColor);
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 1rem;
}

.container{
    position:relative;
    width: 96vw;
    height: 95vh;
    display: flex;
    align-items:center;
    justify-content:center;
    background: var(--bgcolor);
    overflow: hidden;
    border-radius: 2rem;
    box-shadow: 2px 2px 8px grey;

}
/* 
//Hide the scroll thumb */

::-webkit-scrollbar{
    display: none;
}

